<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.LessonChoiceConnectionString"
            connectionString="Data Source=LAPTOP-7O733H1T\BITPC;Initial Catalog=LessonChoice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>